.A {
    background-color: #ee9134;
    width: 500px;
    height: 500px;
}

.B {
    background-color: #90ee90;
    width: 250px;
    height: 250px;
}

.C {
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: monospace;
}

.D{
    width: 50%;
    height: 50vh;
    background-color: rgb(173, 216, 230);
}
.E{
    width: 75vw;
    height: 50%;
    background-color: rgb(255, 0, 0);
}