.A {
    background-color: #6f00ff;
    width: 500px;
    height: 500px;
}

.B {
    background-color: #ff5e00;
    width: 55%;
    height: 65%;
}

.C {
    background-color: rgb(164, 190, 178);
    color: rgb(255, 0, 140);
    font-size: 50px;
    font-weight: sans-serif;
}

.D{
    width: 40%;
    height: 40vh;
    background-color: rgb(229, 255, 0);
}
.E{
    width: 80vw;
    height: 70%;
    background-color: rgb(86, 140, 202);
}
